<div id="filters-container">
    <div id="filters">
        {% set filters = [
            { id: 'filter_teacher', label: 'Wykładowca', name: 'filter_teacher', placeholder: 'Podaj wykładowcę' },
            { id: 'filter_student', label: 'Nr albumu', name: 'filter_student', placeholder: 'Podaj numer albumu' },
            { id: 'filter_subject', label: 'Przedmiot', name: 'filter_subject', placeholder: 'Podaj przedmiot' },
            { id: 'filter_department', label: 'Wydział', name: 'filter_department', placeholder: 'Podaj wydział' },
            { id: 'filter_room', label: 'Sala', name: 'filter_room', placeholder: 'Podaj salę' },
            { id: 'filter_group', label: 'Grupa', name: 'filter_group', placeholder: 'Podaj grupę' },
            { id: 'filter_type', label: 'Forma zajęć', name: 'filter_type', placeholder: 'Podaj formę zajęć' }
        ] %}
        {% for filter in filters %}
            {% include 'filters/filter_field.html.twig' with filter %}
        {% endfor %}
    </div>
    {% include 'filters/filter_logic_switch.html.twig' %}
    <div id="buttons">
        <button id="reset-filters-btn">Wyczyść</button>
        <button id="search-btn">Wyszukaj</button>
    </div>
</div>
