<div class="filter-logic-switch">
    <label for="logic-switch" class="slider-label">Logika filtrów</label>
    <label class="switch">
        <input type="checkbox" id="filter-logic-switch" name="filter-logic-switch">
        <span class="slider">
            <span class="slider-text and-text">AND</span>
            <span class="slider-text or-text">OR</span>
        </span>
    </label>
</div>