{% extends 'base.html.twig' %}

{% block title %}
    Plan zajęć
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/filter_section.css">
    <link rel="stylesheet" href="styles/calendar_section.css">
    <link rel="stylesheet" href="styles/control_section.css">

{% endblock %}

{% block body %}

    {% block controls %}
        {% include 'controls/controls_container.html.twig' %}
    {% endblock %}

<div id="main-container">

    {% block filters %}
        {% include 'filters/filters_container.html.twig' %}
    {% endblock %}

    {% block callendar %}
        {% include 'calendar/calendar.html.twig' %}
    {% endblock %}

</div>

{% endblock %}