{# przykład wygenerowany - chcę wiedzieć, czy działa #}
<div id="calendar">
    <table>
        <thead>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>9:00 - Math</td>
            <td>10:00 - Physics</td>
            <td>11:00 - Chemistry</td>
            <td>12:00 - History</td>
            <td>13:00 - PE</td>
        </tr>
        </tbody>
    </table>
</div>