{# przykład wygenerowany - chcę wiedzieć, czy działa #}
<div id="controls-container">
    {% include 'controls/dark_mode_switch.html.twig' %}
    <div id="controls">
        <div class="left-buttons">
            <button type="button" id="prev"><</button>
            <button type="button" id="next">></button>
            <button id="today">Dzisiaj</button>
        </div>
        <div class="right-buttons">
            <button id="day">Dzień</button>
            <button id="week">Tydzień</button>
            <button id="month">Miesiąc</button>
            <button id="semester">Semestr</button>
        </div>
    </div>
</div>