{# przykład wygenerowany - chcę wiedzieć, czy działa #}
<div id="controls">
    <button type="button" id="prev"><</button>
    <button type="button" id="next">></button>
    <button id="today">Dzisiaj</button>
    <button id="day">Dzień</button>
    <button id="week">Tydzień</button>
    <button id="month">Miesiąc</button>
    <button id="semester">Semestr</button>
    <button id="search-btn">Wyszukaj</button>
    <button id="reset-filters-btn">Wyczyść</button>
</div>