<div class="switches">
    <label for="dark-mode-switch">Tryb ciemny</label>
    <input type="checkbox" id="dark-mode-switch" name="dark-mode-switch">

    <label for="filter-logic-switch">Logika filtrów</label>
    <input type="checkbox" id="filter-logic-switch" name="filter-logic-switch">
</div>