#main-container {
    display: flex;
    height: 85vh;
}

#calendar {
    flex-grow: 1;
    background-color: #FFFFFF;
    padding: 20px;
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 5px;

}

#calendar table {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

#calendar th, #calendar td {
    padding: 10px;
    text-align: center;
    border: 1px solid #555;
}

#legend {
    position: absolute;
    bottom: 15px;
    color: white;
}

body.dark-mode #calendar table{
    background-color: #756E6E;
}
body.dark-mode #calendar{
    background-color: #524D4D;
}
body.dark-mode #calendar button{
    background-color: #333;
    border-color: #333;
}
body.dark-mode #calendar button:hover{
    background-color: #232323;
}

.fc-timegrid-event-harness {
    flex: 1 1 auto; /* Elastyczny rozmiar dla kafelków */
    min-width: 30px; /* Minimalna szerokość kafelka */
}

@media (max-width: 768px) {
    .fc-timegrid-event {
        font-size: 10px; /* Zmniejszenie rozmiaru czcionki */
        padding: 3px; /* Zmniejszenie paddingu */
    }
    .fc-timegrid-slot {
        height: 20px; /* Niższe sloty czasu dla mniejszych ekranów */
    }
}

.tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    pointer-events: none;
    max-width: 200px;
    word-wrap: break-word;
    text-align: left;
}
